body {
    margin: 0;
    font-size:16px;
    font-family:;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

img {
    height: auto;
    width: auto;
    size: cover;
}

hr{
    border-top: 2px solid;
    border-color: #a753ff;
}

.row{
    padding-bottom: 20px;
}

.navbar {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#header-jumbotron {
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
    position: relative;
    background-image: url(../img/header.jpg);
    background-size: cover;
    margin-bottom: 0px;
}

.jumbotron .header-info{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/***************************** About ***************************/
.about {
    background-color: #333;
    color: white;
    padding-bottom: 50px;
}

.about hr {
    border-color: white;
}

.about img {
    padding-top: 20px;
}

#about_info h2 {
    padding-bottom: 20px;
}

#about_info  p{
    padding-left: 200px;
    padding-right:200px;
    line-height: 200%;
    text-align: justify;
}

/***************************** Interests ***************************/
.interests{
    color: #000;
    background-color: #f4f4f4;
}

.interests .container-outer{
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
}


.interests .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}


.picture-container {
    width: auto;
    height: auto;
    overflow: hidden;
    display: block;
    margin: auto;
    position: relative;
    max-height: 230px;
}

.picture-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.3);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}


.picture-container h2 { 
   position: absolute; 
   top: 100px; 
   left: 0; 
   width: 100%; 
}

.picture-container h2 span { 
    color: white; 
    letter-spacing: -1px;    
}


/***************************** Skills ***************************/
.skills{
    padding-top: 20px;
    background-color: #333;
    /*color: #25004c;*/
    color: white;
}

.skills p {
    line-height: 170%;
    text-align: left;

}

.icon {
    /*color: #25004c;*/
    color:#a753ff;
    border-radius: 50%;
    padding: 10px;
}

/***************************** Footer ***************************/
footer {
    text-align: center;
}
